@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    background-image: url('../assets/images/background.jpg');
    background-repeat: repeat;    
}

h1 {
    font-family: 'Chewy', cursive;
    font-size: 80px;
    color: #030303;
    text-align: center;
    margin-top: 20px;
}
h1>span {
    background-color: #f9fcfc;
    padding: 0 20px 0 20px;
}

.instructions {
    display: block;
    background-color: #f9fcfc;
    padding: 2em;
    width: 75%;
    min-height: 50vh;
    margin: auto;    
    border-radius: 0.6em;
    margin-top: 0.5em;
}

#contentContainer {
    background-color: #f9fcfc;
    padding: 2em;
    width: 75%;
    min-height: 50vh;
    margin: auto;    
    border-radius: 0.6em;
    display: none;
}

#timer {
    background-color: lightblue;
    border-radius: 1.8em;
    border: #030303 solid 1.5px;
    padding: 0.7em 1.8em;
}

#question {
    background-color: rgb(246, 232, 155);
    color: #030303;
    padding: 1em;
    border-radius: 0.3em;  
}

.next-btn-zz {
    background-color: palevioletred;
    color: #f9fcfc;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;   
}

.start-btn-zz {   
    margin-top: 1.5em;
    background-color: rgb(46, 214, 180);
    color: #151616;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    border: #f9fcfc solid 3px;
}
.score {
    background-color: rgb(111, 125, 248);
    color: #030303;
    text-align: center;
    border-radius: 0.3em; 
    margin: 5px auto; 
    font-weight: bold;
    width: 40%;
    border: solid rgb(24, 24, 24) 1.5px;

}
.scores {
    display: inline-block;
    margin-top: 5px;
}
#score {
    color: rgb(99, 227, 99);
    font-weight: bold;
}

#incorrect {
    color: rgb(251, 159, 159);
    font-weight: bold;
}

div > btn {
    background-color: #6DF6E0;
}

footer > p {
    text-align: center;    
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px lightgray,-1px -1px white ;
}