@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Wix+Madefor+Text:wght@500&display=swap');

body {
    background-image: url('../assets/images/background.jpg');
    background-repeat: repeat; 
    font-family:'Wix Madefor Text', sans-serif;
}
/* Heading with background */
h1 {
    font-family: 'Chewy', cursive;
    font-size: 80px;
    color: #030303;
    text-align: center;
    margin-top: 20px;
}
h1>span {
    background-color: #f9fcfc;
    padding: 0 20px 0 20px;
}
/* Instructions on landing */
.instructions {
    display: block;
    background-color: #f9fcfc;
    padding: 2em;
    width: 75%;
    min-height: 50vh;
    margin: auto;    
    border-radius: 0.6em;
    margin-top: 0.5em;
}
/* Container for all content */
#contentContainer {
    background-color: #f9fcfc;
    padding: 2em;
    width: 75%;
    min-height: 50vh;
    margin: auto;    
    border-radius: 0.6em;
    display: none;
}
/* Timer */
#timer {
    background-color: lightblue;
    border-radius: 1.8em;
    border: #030303 solid 1.5px;
    padding: 0.7em 1.8em;
}
/* Question */
#question {
    background-color: rgb(246, 232, 155);
    color: #030303;
    padding: 1em;
    border-radius: 0.3em;  
}
/* Next button */
.next-btn-zz {
    background-color: palevioletred;
    color: #f9fcfc;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;   
}
/* Start button */
.start-btn-zz {   
    margin-top: 1.5em;
    background-color: rgb(46, 214, 180);
    color: #151616;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    border: #f9fcfc solid 3px;
}
/* Score area */
.score {
    background-color: rgb(111, 125, 248);
    color: #030303;
    text-align: center;
    border-radius: 0.3em; 
    margin: 5px auto; 
    font-weight: bold;
    width: 40%;
    border: solid rgb(24, 24, 24) 1.5px;

}
.scores {
    display: inline-block;
    margin-top: 5px;
}
#score {
    color: rgb(99, 227, 99);
    font-weight: bold;
}

#incorrect {
    color: rgb(251, 159, 159);
    font-weight: bold;
}
/* End of score area */
div > btn {
    background-color: rgb(111, 246, 223);
}
/* Footer */
footer > p {
    text-align: center;    
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px lightgray,-1px -1px white ;
}
/* Media queries */
@media (max-width: 767px) {
    .start-btn-zz {
        width: 40%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #timer {
        margin-right: auto;
        position: relative;
        border-radius: 0.6em;
    }
}
@media (max-width: 414px) {
    /* .next-btn-zz {
        text-align: center;
        margin: auto;        
        margin-left: auto;
        margin-right: auto;
    } */
    #timer {
        margin-right: auto;
        position: relative;
        border-radius: 0.6em;
    }
}
